/*
*	basic css - logfile
*	
*	Author: Alexander Bassov - 24.07.2016
*
*/

/* global */
* { box-sizing: border-box; font-family: "Helvetica";	
	-webkit-transition: 	all 0.5s ease-in-out;
	-o-transition: 			all 0.5s ease-in-out;
	-moz-transition: 		all 0.5s ease-in-out;
	transition: 			all 0.5s ease-in-out;
}

/* basics */
html, body, div, ul, li { margin: 0 auto; padding: 0; }
h1, h2, h3, h4, h5, h6, p, span { margin: 0 auto; width: 16.66%; text-align: left; }

ul { list-style-type: none; }
li { margin: 0 0 5px 0; padding: 0 5px; }
ul li * { overflow: hidden; }
ul li > * { background-color: #fff; }
li > div { padding: 5px 0; border-top: 1px solid #000; border-bottom: 1px solid #000; }
li > div > div { padding: 5px; background-color: #E2E2E2; width: 100%; }
li > div > div > * { float: left; }
li .desc { margin-left: 10px; width: initial; height: 0%; border-left: 3px double #666; }
li .desc p { width: 100%; }

#logfile { width: 90%; height: 100%; display: block; }
#heading { margin-top: 50px; padding-bottom: 20px; text-align: center; }
#content { margin: 0; padding-bottom: 30px; } 

.error * { color: #f00; }
.error > div { border-color: #F00; }
.error div > div { background-color: rgba(255, 0, 0, 0.15); }
.error > div:hover > div { background-color: rgba(255, 0, 0, 0.07); }

.info * { color: #008405; }
.info > div { border-color: #008405; }
.info div > div { background-color: rgba(0, 255, 126, 0.3); }
.info > div:hover > div { background-color: rgba(0, 255, 67, 0.15); }

.warning * { color: #B99B00; }
.warning > div { border-color: #B99B00; }
.warning div > div { background-color: rgba(255, 224, 0, 0.15); }
.warning > div:hover > div { background-color: rgba(255, 247, 0, 0.12); }

.vec2 * { color: #0082A0; }
.vec2 > div { border-color: #0082A0; }
.vec2 div > div { background-color: rgba(0, 208, 255, 0.3); }
.vec2 > div:hover > div { background-color: rgba(11, 199, 255, 0.13); }


#search { padding: 10px 5px; }
#search > form { width: 100%; }
#search > form > div { padding: 5px 0; overflow: hidden; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; }
#search > form > div > div { padding: 10px 15px; overflow: hidden; background-color: #eee; }
#search > form > div > div > * { float: left; font-size: 17px; }
#search > form > div > div > p { padding: 9px 0; width: 9%; }
#search > form > div > div > input.search-value { padding: 5px; }

#search input { margin: 2px 0; width: 30px; height: 30px; }
#search select { margin: 3px 5px; padding: 5px; font-size: 12px; }

/* columns */
.col1 { max-width:4.166%; width: 100%; }
.col2 { max-width:8.333%; width: 100%; }
.col3 { max-width:12.5%; width: 100%; }
.col4 { max-width:16.66%; width: 100%; }
.col5 { max-width:20.83%; width: 100%; }
.col6 { max-width:25%; width: 100%; }
.col7 { max-width:29.16%; width: 100%; }
.col8 { max-width:33.33%; width: 100%; }
.col9 { max-width:37.5%; width: 100%; }
.col10 { max-width:41.66%; width: 100%; }
.col11 { max-width:45.83%; width: 100%; }
.col12 { max-width:50%; width: 100%; }
.col13 { max-width:54.16%; width: 100%; }
.col14 { max-width:58.33%; width: 100%; }
.col15 { max-width:62.5%; width: 100%; }
.col16 { max-width:66.66%; width: 100%; }
.col17 { max-width:70.83%; width: 100%; }
.col18 { max-width:75%; width: 100%; }
.col19 { max-width:79.16%; width: 100%; }
.col20 { max-width:83.33%; width: 100%; }
.col21 { max-width:87.5%; width: 100%; }
.col22 { max-width:91.66%; width: 100%; }
.col23 { max-width:95.83%; width: 100%; }
.col24 { max-width:100%; width: 100%; }

/* divider */
hr { margin: 0 0 5px 0; border: 1px solid rgba(255, 165, 0, 1); }


/* ... */


/* toogle class */
div.closed { padding: 0; height: 0; }
.hide { display: none; }






































